<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNAM</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/estilosp.css') }}">
</head>
<body>
    <div class="container">
        <!-- Encabezado -->
        <header>
            <h1>Movilidad Puma</h1>
            <p>La guía para una movilidad más acertada.</p>
        </header>
      
        <!-- Barra de Navegación -->
        <nav>
            <ul>
                <li><a href="{{ url_for('main.landing_page') }}">Inicio</a></li>
                <li><a href="{{ url_for('main.landing_page') }}#acerca">Acerca de</a></li>
                <li><a href="{{ url_for('main.landing_page') }}#servicios">Servicios</a></li>
                <li><a href="{{ url_for('main.mapas') }}">Mapas</a></li>                
                <li><a href="{{ url_for('main.landing_page') }}#contacto">Contacto</a></li>
            </ul>
            <div class="boton-container">
              <boton class="boton" id="botonInicioDeSesion">Iniciar Sesión</boton>
              <boton class="boton" id="botonRegistro">Registrarse</boton>
            </div>
        </nav>
        <h1>Datos guardados exitosamente</h1>
        <a href="{{ url_for('main.ver_registros') }}" class="boton">Ver Registros</a>
        <a href="{{ url_for('main.landing_page') }}" class="boton">Inicio</a><br><br>

        <br><button id="desktop-button">Vista de Escritorio</button><br>
        <button id="mobile-button">Vista Móvil</button>
    </div>
        <!-- Pie de Página -->
        <footer>
            <section id="contacto">
                <p>&copy; 2023 Movilidad Puma</p>
            </section>
        </footer>
        <script src="{{ url_for('static',filename='js/script.js') }}"></script>
</body>
</html>