<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>UNAM</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/estilos.css') }}">
</head>
<body>
    <h1>Bienvenido a mi aplicación</h1>
    <button class="boton" id="botonFormulario">Ir a formulario</button>
    <script src="{{ url_for('static',filename='js/script.js') }}"></script>
    <!-- Pie de Página -->
    <footer>
        <section id="contacto">
            <p>&copy; 2023 Movilidad Puma</p>
        </section>
    </footer>
</body>
</html>