<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapas</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/estilos.css') }}">
</head>
<body>
    <div class="container">
        <main>
            <div class="caja">

                <section id="mapas">
                </section>

            </div>
        </main>

        <button id="desktop-button">Vista de Escritorio</button><br>
        <button id="mobile-button">Vista Móvil</button><br>

        </div>

        <!-- Pie de Página -->
        <footer>
            <section id="contacto">
                <p>&copy; 2023 Movilidad Puma</p>
            </section>
        </footer>

        <script src="{{ url_for('static',filename='js/script.js') }}"></script>
</body>
</html>
  