<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapas</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/estilos.css') }}">
</head>
<body>
    <div class="container">
        <!-- Encabezado -->
        <header>
            <h1>Movilidad Puma</h1>
            <p>La guía para una movilidad más acertada.</p>
        </header>
      
        <!-- Barra de Navegación -->
        <nav>
            <ul>
                <li><a href="{{ url_for('main.landing_page') }}"><span>Inicio</span></a></li>
                <li><a href="{{ url_for('main.landing_page') }}#acerca"><span>Acerca de</span></a></li>
                <li><a href="{{ url_for('main.landing_page') }}#servicios"><span>Servicios</span></a></li>
                <li><a href="{{ url_for('main.mapas') }}"><span>Mapas</span></a></li>                
                <li><a href="{{ url_for('main.landing_page') }}#contacto"><span>Contacto</span></a></li>
            </ul>
            <div class="boton-container">
              <boton class="boton" id="botonInicioDeSesion">Iniciar Sesión</boton>
              <boton class="boton" id="botonRegistro">Registrarse</boton>
            </div>
        </nav>
        <main>
            <div class="caja">

          <!-- Imagen Destacada -->
          <aside>
            <img src="https://www.dgsgm.unam.mx/img/pumabus/mapaIntegral082023.jpg" alt="Imagen Destacada">
        </aside>

            </div>
        </main>

        <button id="desktop-button">Vista de Escritorio</button><br>
        <button id="mobile-button">Vista Móvil</button><br>

        </div>

        <!-- Pie de Página -->
        <footer>
            <section id="contacto">
                <p>&copy; 2023 Movilidad Puma</p>
            </section>
        </footer>

        <script src="{{ url_for('static',filename='js/script.js') }}"></script>
</body>
</html>
